.global__footer_input {
  width: 415px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid var(--gray-400-color);
  background-color: var(--gray-200-color);
  padding-left: 16px;
}

.global__footer_input_text {
  font-size: 1.4rem;
  line-height: 1.5em;
  font-weight: 400;
  color: var(--gray-600-color);
}
